<!DOCTYPE html>
<html>

	<head>
    <% include ../partials/head %>
	</head>

	<body>

		<header>
			<% include ../partials/header %>
		</header>

		<div id="recipe-page">
			
			<div class="jumbrotron banner" style="	background-image: url('../../<%= recipe[0].image_url %>');">
				<div id="recipe-summary">
					<div class="category">
						<span>Category: </span> <%= recipe[0].category %>
					</div>
	      </div>
			</div>

			<div class="container content-wrapper">
				<div class="recipe-title">
					<h1><%= recipe[0].name %></h1>
					<p>by <%= recipe[0].username %></p>
				</div>
				<div class="row">
					<div id="ingredients-col" class = "col-lg-6 col-md-6">
						<h3> Ingredients </h3>
					</div>
					<div id="method-col" class = "col-lg-6 col-md-6">
						<h3> Method </h2>
						<%- method %>
					</div>
				</div>
			</div>

		</div>

		<footer>
			<% include ../partials/footer %>
		</footer>

  </body>
</html>
